* {
	padding: 0;
	margin: 0;
}

div.float {
	float: left;
}
/* div.float p {text-align: center;} */

canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
}

.ElumCf {
    /* 
	float: left;
    width: 57.142857142857139%;
	 */
    width: 90vw;
    position: absolute;
    /* top: 50%; */
    left: 5vw;
	font-size: xxx-large;
}

.HOoTuc, .ElumCf {
    border-collapse: collapse;
    table-layout: fixed;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

.PaQdxb {
    cursor: pointer;
    font-family: arial,sans-serif;
    text-align: center;
    line-height: 34px;
    margin: 4px;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    -webkit-touch-action: manipulation;
}

.A2W7l {
    /* font-size: 14px; */
}

.AOvabd, .dxp44d {
    background: #f1f3f4;
    color: #202124;
    border: 7px solid #f1f3f4;
    border-radius: 4px;
    font-size: xxx-large;
    height: 39px;
}
.MEdqYd, .feqqG {
    background: #dadce0;
    color: #202124;
    border: 10px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: xxx-large;
    height: 52px;
}

.XRsWPe {
    outline: none;
}

#dmsg {
	float: left;
    background: #dadce0;
    width: 100vw;
    height: 92vh;
    font-size: x-large;
    z-index: 99999;
    position: absolute;
}

#TotalScore {
	width: 90vw;
    position: absolute;
    /* top: 50%; */
    left: 5vw;
    font-size: x-large;
}

.table-bordered {
	width: 90vw;
    position: relative;
    top: 5vh;
    left: 5vw;
    font-size: x-large;
}

.buttonExitMsgDisplay {
	position: absolute;
    /* top: 5vh; */
    left: 5vw;
    width: 21vw;
    height: 4vh;
    font-size: xx-large;
    bottom: 10vh;
}
